<?php echo $this->partial('/reportes/partials/header.phtml',array('active' => $this->active)); ?>
<div class="page-container">
    <?php echo $this->partial('/reportes/partials/sidebar.phtml',array('active' => $this->active)); ?>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">Facturas</h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li><i class="icon-docs"></i><span> Documentos Electrónicos</span><i class="fa fa-angle-right"></i></li>
                    <li><span>Listado de facturas</span></li>
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- tabla de reporte de facturas electronicas-->
                    <div id="tableContainer" class="table-responsive"></div>
                    <script>
                        $("#tableContainer").zfTable('showComprobantes', {
                            sendAdditionalParams: function() {
                            	var data = "tipoDoc=01";
                                return '&' + data;
                            },
                        });
                    </script>
                    <!-- Fin de reporte de facturas electronicas -->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<div id="reportPDF" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-factura">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Visualización de la Factura</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height: 400px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="cont-logo">
                                <img class="margin-bottom-10" alt="logo" src="<?php echo $this->url . '/assets/img/logo-plano.png'; ?>">
                                <p class="text-center"><strong>ATM GRUPO TECNOLÓGICO</strong></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cont-data-empresa">
                                <p class="text-center">RUC <strong>20392495372</strong></p>
                                <p class="text-center"><strong>FACTURA</strong></p>
                                <p class="text-center">F001-1</p>
                            </div>
                        </div>
                        <div class="col-md-12 margin-top-10">
                            <div class="col-md-8">
                                <p class="text-data"><strong>CLIENTE</strong></p>
                                <p class="info-data">: SAFARI IMPORT S.A.C.</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-data-mini"><strong>RUC</strong></p>
                                <p class="info-data">: 20505172419</p>
                            </div>
                            <div class="col-md-12">
                                <p class="text-data"><strong>DIRECCIÓN</strong></p>
                                <p class="info-data">: JR. CANGALLO NRO. 439 (COSTADO DE LA EXX MATERNIDAD DE LIMA) LIMA</p>
                            </div>
                        </div>
                        <div class="col-md-12 cont-table">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Descripción</th>
                                        <th>P. Unitario</th>
                                        <th>V. Venta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Servicio de mantenimiento de servidores</td>
                                        <td>550.00</td>
                                        <td>550.00</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Larry</td>
                                        <td>Cooper</td>
                                        <td>lar</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Sandy</td>
                                        <td>Lim</td>
                                        <td>sanlim</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                <button type="button" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>
<?php echo $this->partial('/reportes/partials/footer.phtml',array()); ?>