<?php echo $this->partial('/reportes/partials/header.phtml',array('active' => $this->active)); ?>
<div class="page-container">
    <?php echo $this->partial('/reportes/partials/sidebar.phtml',array('active' => $this->active)); ?>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">Baja de documentos</h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li><i class="icon-docs"></i><span> Documentos Electrónicos</span><i class="fa fa-angle-right"></i></li>
                    <li><span>Listado de Baja de documentos</span></li>
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- tabla de reporte de facturas electronicas-->
                    <div id="tableContainer" class="table-responsive"></div>
                    <script>
                    	$("#tableContainer").zfTable('showBaja');
                    </script>
                    <!-- Fin de reporte de facturas electronicas -->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<?php echo $this->partial('/reportes/partials/footer.phtml',array()); ?>