.txt-footer-fin{text-align: center;margin-top: 10px;color: #999;}
.frm-register{margin: 0 auto; width: 500px;}
.cont_img_bd{display: inline-block; vertical-align: top; width: 49%;}
.link_tipo_bd{
	padding:15px;
	margin-bottom: 15px;
}
.form-boton{padding: 20px 10px 0 !important;}
.img_logos_bd{width: 100%;}
.group_checkbox fieldset label{display: block;}
.form-merge .form-group{margin: 0 0 1px;}
.form-put-number .form-group{margin-bottom: 2px;}
.form-merge .form-control{height: 24px !important;}
.form-merge .control-label{padding-top: 1px !important;}
.text-title-table{font-size: 12px !important; text-align: center !important;}

.btn-factura{background-color: #45b6af !important;color:#fff !important;padding: 4px 5px;border-radius: 4px;float: right;}
.btn-boleta{background-color: #0B7BB5 !important;color:#fff !important;padding: 4px 5px;border-radius: 4px;float: right;}
.btn-credito{background-color: #FE9900 !important;color:#fff !important;padding: 4px 5px;border-radius: 4px;float: right;}
.btn-debito{background-color: #C70E14 !important;color:#fff !important;padding: 4px 5px;border-radius: 4px;float: right;}
.btn-resumen{background-color: #05AFC0 !important;color:#fff !important;padding: 4px 5px;border-radius: 4px;float: right;}
.btn-baja-ext{background-color: #00AB55 !important;color:#fff !important;padding: 4px 5px;border-radius: 4px;float: right;}
.btn-baja-env{background-color: #05AFC0 !important;color:#fff !important;padding: 4px 5px;border-radius: 4px;float: right;margin-left: 10px;}

.btn-factura span{margin-top: 2px;}

.btn-factura:hover{background-color: #fff !important;color:#45b6af !important;border: 1px solid #45b6af;}
.btn-factura:hover div{color: #45b6af;}
.btn-boleta:hover{background-color: #fff !important;color:#0B7BB5 !important;border: 1px solid #0B7BB5;}
.btn-boleta:hover div{color: #0B7BB5;}
.btn-credito:hover{background-color: #fff !important;color:#FE9900 !important;border: 1px solid #FE9900;}
.btn-credito:hover div{color: #FE9900;}
.btn-debito:hover{background-color: #fff !important;color:#C70E14 !important;border: 1px solid #C70E14;}
.btn-debito:hover div{color: #C70E14;}
.btn-resumen:hover{background-color: #fff !important;color:#05AFC0 !important;border: 1px solid #05AFC0;}
.btn-resumen:hover div{color: #05AFC0;}
.btn-baja-ext:hover{background-color: #fff !important;color:#00AB55 !important;border: 1px solid #00AB55;}
.btn-baja-ext:hover div{color: #00AB55;}
.btn-baja-env:hover{background-color: #fff !important;color:#05AFC0 !important;border: 1px solid #05AFC0;}
.btn-baja-env:hover div{color: #05AFC0;}

.filtros{margin-bottom: 10px;}
.modal-factura{width: 780px !important;}
.cont-data-empresa{border: 1px solid #333; padding: 15px 15px 5px; margin: 0 auto; width: 200px;border-radius: 10px;}
.cont-logo{padding: 15px;width: 250px;margin: 0 auto;text-align: center;}
.modal-factura p{font-size: 12px !important;}
.text-data{width: 65px;}
.text-data, .info-data{display: inline-block; vertical-align: top;}
.text-data-mini, .info-data{display: inline-block; vertical-align: top;}

.cont-table .table thead tr th{font-size: 12px !important;}

.title-login{font-size: 20px; color: #fff;letter-spacing: 4px;}
li.user .icon-user-following{color: #F6A821;}
.page-sidebar-menu i{color: #F6A821 !important;}

.setMessage{margin: 10px 10px 0px; padding: 10px;}
.btn-cerrar{float: right;padding: 0 6px;}

.table-configuracion tr th{font-size: 12px !important;background: #DDDDDD;}
.radio-customer .radio{margin-left: -20px;margin-right: 5px;margin-top: -8px;}

/******* styles for zfTable *******/
tr.zf-data-row td {font-size: 11px !important;padding: 2px 2px 0 !important;}
table thead tr.zf-title th {color: #222 !important;font-size: 12px !important;padding: 2px;background: #DDDDDD;text-align: center;}
table tbody tr:hover td{background: #414247 !important; color: #f6a821 !important;}
table tbody tr td i{cursor: pointer;}

table thead tr td input{padding: 3px 2px !important;}
table thead tr td select{width: 100% !important;padding: 3px 2px !important;}

@media screen and (max-width: 1600px) {

}
@media screen and (max-width: 1366px) {

}
@media screen and (max-width: 1152px) {

}
@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 800px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 600px) {
	.frm-register{width: 100%;}
}
@media screen and (max-width: 500px) {

}

@media screen and (max-width: 400px) {
}