<header class="header-principal">
    <div class="site-social-login">
        <div class="container">
            <div class="col-sm-6 col-xs-10 header-left">
                <p class="search-form atencion-cliente">Atención al Cliente &nbsp;<i class="fa fa-phone"> </i> &nbsp;<span>(01) 715-2620</span></p>
            </div>
        </div>
        <hr>
    </div>
    <div class="cont-logo-menu">
        <div class="container">
            <div class="header-center"><a href="<?php echo $this->url.'/'; ?>"><img src="/images/home/logo1.png"></a></div>
            <div class="cont-menu">
                <span class="txt-frase">Sé un lobo en el mercado</span>
                <div class="text-right">
                    <ul class="nav-cont menu-crear">
                        <a href="#"><li class="nav-list"><p class="active">ACCESO</p></li></a>
                        <a href="<?php echo $this->url.'/mira-lo-que-puedes-hacer'; ?>"><li class="nav-list"><p>MIRA LO QUE PUEDES HACER</p></li></a>
                        <a href="#"><li class="nav-list"><p>SERVICIOS PREMIUM</p></li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="principal">
    <div class="cont-crear-cuenta">
        <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 create-content">
                <img class="img-lobo" src="/images/home/lobo-register.png">
                <a class="link-btn-register" href="<?php echo $this->url.'/auth/registration/proveedor'; ?>"><p class="btn-register">REGÍSTRATE GRATIS</p></a>
            </div>
<!--            <div class="col-md-2 text-center">
                <p class="txt-de-register">Haz crecer tu negocio con nosotros obteniendo nuevos clientes.</p>
                <a class="link-btn-register" href="<?php echo $this->url.'/auth/registration/proveedor'; ?>"><p class="btn-register">Registrate gratis <br> <i class="fa fa-hand-o-up"></i></p></a>
            </div>-->
            <div class="login col-md-4 col-sm-6 col-xs-12">
                <div class="content">
                    <?php
                    echo $this->flashMessenger()
                            ->setMessageOpenFormat('<div%s>')
                            ->setMessageSeparatorString('</p><p>')
                            ->setMessageCloseString('<button type="button" class="btn-message-provee" data-dismiss="alert">x</button></div>')
                            ->render('success', array('alert alert-success alert-provee'));
                    $form = $this->form;
                    $this->formElementErrors()
                         ->setMessageOpenFormat('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">x</button>')
                         ->setMessageCloseString('</div>')
                         ->render($form);
                    $form->setAttribute('action', $this->url(NULL, array('controller'=>'login', 'action' => 'authnproveedor')));
                    $form->setAttributes(array('class' => 'login-form'));
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <h4 class="form-title">Acceso de empresas</h4>
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9">Email</label>
                        <div class="input-icon">
                            <i class="fa fa-envelope"></i>
                            <?php echo $this->formRow($form->get('email')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Contraseña</label>
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            <?php echo $this->formRow($form->get('password')); ?>
                        </div>
                    </div>
                    <div class="form-actions">
                        <label class="checkbox"><?php echo $this->formRow($form->get('rememberme')); ?> Recordarme</label>
                        <?php echo $this->formRow($form->get('submit')); ?>
                    </div>
                    <div class="forget-password">
                        <h4>¿Olvidaste tu contraseña?</h4>
                        <p>no se preocupe, haga clic <a href="javascript:;" id="forget-password">aqui</a> para restablecer su contraseña.</p>
                    </div>
                    <?php
                    echo $this->form()->closeTag();
                    ?>
                    
                    <!-- BEGIN FORGOT PASSWORD FORM -->
                    <?php
                    $formpass = $this->formpass;
                    $this->formElementErrors()
                         ->setMessageOpenFormat('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">x</button>')
                         ->setMessageCloseString('</div>')
                         ->render($formpass);
//                    $formpass->setAttribute('action', $this->url(NULL, array('controller'=>'registration', 'action' => 'recuperarpass')));
                    $formpass->setAttributes(array(
                        'action' => $this->url.'/auth/registration/recuperarpass',
                        'class' => 'forget-form'
                    ));
                    $formpass->prepare();
                    echo $this->form()->openTag($formpass);
                    ?>
                        <h4>Olvidaste la contraseña?</h4>
                        <p>
                            Ingrese su dirección de correo electrónico a continuación para restablecer la contraseña. 
                        </p>
                        <input type="hidden" name="rolId" value="2">
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="fa fa-envelope"></i>
                                <?php echo $this->formRow($form->get('email')); ?>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="button" id="back-btn" class="btn btn-default"><i class="m-icon-swapleft"></i> Atras </button>
                            <?php echo $this->formRow($form->get('submit')); ?>
                        </div>
                    <?php
                    echo $this->form()->closeTag($formpass);
                    ?>
                    <!-- END FORGOT PASSWORD FORM -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="conte-info-general">
    <div class="container cont-informa">
        <div class="col-md-4 arti-info">
            <p class="circle-web"><span class="icon-globe" aria-hidden="true"></span></p>
            <h4>Sitio web</h4>
            <p class="txt-info-register">Un sitio web interactivo, fácil y gratis, tendrás un panel de control de tu sitio web en el que podrás agregar, modificar y eliminar todo lo que quieras tales como tus productos o servicios, novedades, eventos y promociones.</p>
        </div>
        <div class="col-md-4 arti-info">
            <p class="circle-cliente"><span class="icon-user-follow" aria-hidden="true"></span></p>
            <h4>Gana clientes</h4>
            <p class="txt-info-register">En TARGETEA te ayudamos a ganar clientes desde tu sitio web en donde mostraras tus datos de contacto, fotos, videos, preguntas generales acerca de tu forma de trabajo y las calificaciones que has recibido de tus clientes.</p>
        </div>
        <div class="col-md-4 arti-info">
            <p class="circle-solic"><span class="icon-envelope" aria-hidden="true"></span></p>
            <h4>Recibe solicitudes</h4>
            <p class="txt-info-register">Con nosotros tienes la ventaja de recibir solicitudes de tus clientes y responderles de forma inmediata ya que el nosotros te avisamos mediante un correo que un cliente quiere contactarse contigo.</p>
        </div>
    </div>
</section>
<section class="cont-info-publicar">
    <div class="container cont-publicar">
        <h3 class="title-public">¿QUÉ PUEDES PUBLICAR?</h3>
        <div class="col-md-3 arti-publi"><p class="cont-icon-publica"><i class="fa fa-th"></i></p><h4>Datos de contacto</h4></div>
        <div class="col-md-3 arti-publi"><p class="cont-icon-publica"><i class="fa fa-camera"></i></p><h4>Fotos</h4></div>
        <div class="col-md-3 arti-publi"><p class="cont-icon-publica"><i class="fa fa-video-camera"></i></p><h4>Videos</h4></div>
        <div class="col-md-3 arti-publi"><p class="cont-icon-publica"><i class="fa fa-map-marker"></i></p><h4>Mapa</h4></div>
        <div class="col-md-3 arti-publi"><p class="cont-icon-publica"><i class="fa fa-puzzle-piece"></i></p><h4>Productos o servicios</h4></div>
        <div class="col-md-3 arti-publi"><p class="cont-icon-publica"><i class="fa fa-tags"></i></p><h4>Promociones</h4></div>
        <div class="col-md-3 arti-publi"><p class="cont-icon-publica"><i class="fa fa-exclamation-triangle"></i></p><h4>Novedades</h4></div>
        <div class="col-md-3 arti-publi"><p class="cont-icon-publica"><i class="fa fa-calendar-o"></i></p><h4>Eventos</h4></div>
    </div>
</section>