<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('SFE '. $this->translate('Sistema de facturación electrónica'))->setSeparator(' - ')->setAutoEscape(false) ?>
        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/assets/plugins/select2/select2.css')
                        ->prependStylesheet($this->basePath() . '/assets/css/custom.css')
                        ->prependStylesheet($this->basePath() . '/assets/css/themes/default.css')
                        ->prependStylesheet($this->basePath() . '/assets/css/plugins.css')
                        ->prependStylesheet($this->basePath() . '/assets/css/style-responsive.css')
                        ->prependStylesheet($this->basePath() . '/assets/css/style.css')
                        ->prependStylesheet($this->basePath() . '/assets/css/style-conquer.css')

                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/assets/plugins/uniform/css/uniform.default.css')
                        ->prependStylesheet($this->basePath() . '/assets/plugins/simple-line-icons/simple-line-icons.min.css')
                        ->prependStylesheet($this->basePath() . '/assets/plugins/font-awesome/css/font-awesome.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
                ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body class="page-header-fixed">
        <?php
            echo $this->content;
            require 'footer.phtml';
            echo $this->headScript()
                ->prependFile($this->basePath() . '/assets/scripts/script-auth.js')
                ->prependFile($this->basePath() . '/assets/scripts/ubigeo.js')
                ->prependFile($this->basePath() . '/assets/scripts/login.js')
                    
                ->prependFile($this->basePath() . '/assets/scripts/app.js')
                ->prependFile($this->basePath() . '/assets/plugins/select2/select2.min.js')
                ->prependFile($this->basePath() . '/assets/scripts/form-components.js')
                    
                ->prependFile($this->basePath() . '/assets/plugins/jquery-validation/js/jquery.validate.min.js')
                ->prependFile($this->basePath() . '/assets/plugins/uniform/jquery.uniform.min.js')
                ->prependFile($this->basePath() . '/assets/plugins/jquery.blockui.min.js')
                ->prependFile($this->basePath() . '/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js')
                ->prependFile($this->basePath() . '/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')
                ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                ->prependFile($this->basePath() . '/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js')
                ->prependFile($this->basePath() . '/assets/plugins/jquery-migrate-1.2.1.min.js')
                ->prependFile($this->basePath() . '/js/jquery-1.11.0.min.js');
            echo $this->inlineScript()
        ?>
    </body>
</html>
