<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <style type="text/css">
            body {
                width: 100%;
                margin: 0;
                padding: 0;
                /* Prevent auto resizing of font size in certain email clients */
                -webkit-text-size-adjust: 100% !important;
                -ms-text-size-adjust: 100% !important;
            }
            img {
                border: 0 none;
                outline: none;
                text-decoration: none;
                -ms-interpolation-mode: bicubic;
            }
            table {
                border-collapse: collapse;
            }
            /* Removes unwanted gap with aligned tables in Outlook */
            table, td {
                mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;
            }
            /* Forces Outlook to display email at 100% width */
            .ExternalClass {
                width: 100%;
            }
            /* Corrects line-height issues on Outlook */
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }
            /* Mobile Responsive Styles */
            /* Using attribute selectors to hide mobile styles from Yahoo! Mail */
            @media only screen and (max-width: 480px) {
                table[class=mobile-width], td[class=mobile-width], img[class=mobile-width] {
                    width: 100% !important;
                    height: auto !important;
                }
                table[class=center], td[class=center] {
                    width: 100% !important;
                    height: auto !important;
                    text-align: center !important;
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                }
                td[class=wrapper] {
                    min-width: 0 !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
        </style>
    </head>

    <body style="width: 100%; -webkit-text-size-adjust: 100% !important; -ms-text-size-adjust: 100% !important; margin: 0; padding: 0;">

        <!-- /\/\/\/\/\/\/\/\/ START Inbox Preview Text /\/\/\/\/\/\/\/\/ -->
        <div style="display: none; width: 0px; height: 0px; min-height: 0px; overflow: hidden; font-size: 0px; line-height: 0px; color: #ffffff; mso-hide: all;">
            Bienvenido a 
        </div>
        <!-- /\/\/\/\/\/\/\/\/ END Inbox Preview Text /\/\/\/\/\/\/\/\/ -->

        <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
            <tr>
                <!-- Change background color of email -->
                <td style="background-color: #E0E0E0;">
                    <table align="center" class="mobile-width" width="680" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; margin: 0 auto;">
                        <tr>
                            <!-- min-width necessary in order to prevent auto-sizing in Gmail app -->
                            <td class="wrapper" style="padding-left: 20px; padding-right: 20px; padding-top: 45px; padding-bottom: 45px; min-width: 640px;">

                                <!-- /\/\/\/\/\/\/\/\/ START Header /\/\/\/\/\/\/\/\/ -->
                                <table class="mobile-width" width="640" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
                                    <tr>
                                        <td style="padding-bottom: 25px; background-color: #E0E0E0;">
                                            <table class="mobile-width" width="640" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <!-- Logo link back to your website -->
                                                        <a href="#" target="_blank">
                                                            <!-- Remember to add styles to img tags in order to style alt text -->
                                                            <img src="http://www.targetea.com.pe/images/email/logo.png" alt="Targetea" width="176" height="94" style="vertical-align: top; border: 0 none; outline: none;" />
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /\/\/\/\/\/\/\/\/ END Header /\/\/\/\/\/\/\/\/ -->

                                <!-- /\/\/\/\/\/\/\/\/ START Hero /\/\/\/\/\/\/\/\/ -->
                                <table class="mobile-width" width="640" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
                                    <tr>
                                        <td>
                                            <table class="mobile-width" width="640" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
                                                <tr>
                                                    <td>
                                                        <a href="#" target="_blank">
                                                            <img class="mobile-width" src="http://www.targetea.com.pe/images/email/lobo.jpg" alt="se un lobo en el mercado" width="640" height="250" style="display: block; border: 0 none; outline: none;" />
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /\/\/\/\/\/\/\/\/ END Hero /\/\/\/\/\/\/\/\/ -->

                                <!-- /\/\/\/\/\/\/\/\/ START Body Content /\/\/\/\/\/\/\/\/ -->
                                <table class="mobile-width" width="640" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
                                    <tr>
                                        <td style="padding-left: 50px; padding-right: 50px; padding-top: 60px; padding-bottom: 60px; background-color: #ffffff;">
                                            <table class="mobile-width" width="540" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
                                                <tr>
                                                    <td valign="top" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 26px; color: #707582; text-align: center;">
                                                        <div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 22px; line-height: 26px; color: #292c34; text-align: center;">Bienvenido a TARGETEA, <?php echo $this->nombre; ?></div>
                                                        <div style="font-size: 12px; line-height: 30px; mso-line-height-rule: exactly;">&nbsp;</div>
                                                        Ahora ya tienes un sitio web interactivo en <b style="color: #292c34;">TARGETEA</b>, podrás ingresar tus productos o servicios, crear eventos que realizas, crear promociones y novedades de tu negocio, también tienes un panel de control estadístico para monitorear como progresa tu sitio web.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" style="padding-top: 30px; text-align: center;">
                                                        <!-- Hero Button -->
                                                        <table cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; display: inline-block;">
                                                            <tr>
                                                                <td style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #70B4A9;">
                                                                    <a href="http://www.targetea.com.pe/login_proveedor" target="_blank" style="padding: 10px 40px; display: inline-block; border: 1px solid #70B4A9; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: normal; color: #ffffff; font-weight: bold; text-decoration: none;"><!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->INGRESA A TU CUENTA<!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<![endif]--></a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /\/\/\/\/\/\/\/\/ END Body Content /\/\/\/\/\/\/\/\/ -->

                                <!-- /\/\/\/\/\/\/\/\/ START Social /\/\/\/\/\/\/\/\/ -->
                                <table class="mobile-width" width="640" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
                                    <tr>
                                        <td style="padding-left: 40px; padding-right: 40px; padding-top: 30px; padding-bottom: 30px; background-color: #eff3f5;">
                                            <table class="mobile-width" width="560" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <a href="https://www.facebook.com/targeteaProveedores" target="_blank"><img src="http://www.targetea.com.pe/images/email/facebook-icon@2x.jpg" alt="Facebook" width="34" height="34" style="vertical-align: top; border: 0 none; outline: none;" /></a>
                                                        &nbsp;
                                                        <a href="https://twitter.com/targetProveedor" target="_blank"><img src="http://www.targetea.com.pe/images/email/twitter-icon@2x.jpg" alt="Twitter" width="34" height="34" style="vertical-align: top; border: 0 none; outline: none;" /></a>
                                                        &nbsp;
                                                        <a href="https://www.pinterest.com/targetea" target="_blank"><img src="http://www.targetea.com.pe/images/email/pinterest-icon@2x.jpg" alt="Pinterest" width="34" height="34" style="vertical-align: top; border: 0 none; outline: none;" /></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /\/\/\/\/\/\/\/\/ END Social /\/\/\/\/\/\/\/\/ -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>