<?php 
    $cabecera = $this->cabecera;
    $detalle = $this->detalle;
    $empresa = $this->empresa;
    $totalLetras = $this->totalLetras;
    $ubicacion = $this->ubicacion;
    
    $sumaTotales = floatval($cabecera['totalVentaGravadas'])+floatval($cabecera['totalVentaInafectas'])+floatval($cabecera['totalVentaExoneradas']);
    $subTotal = number_format($sumaTotales, 2, '.', '');
?>
<!DOCTYPE html>
<html>
<head>
	<title>Boleta</title>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta http-equiv="content-type" content="text-html; charset=utf-8">
	<style type="text/css">
        html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
          margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;}
        html {line-height: 1;}
        ol, ul {list-style: none;}
        table {border-collapse: collapse;border-spacing: 0;width: 100%;}
        caption, th, td {text-align: left;font-weight: normal;vertical-align: middle;}
        q, blockquote {quotes: none;}
        q:before, q:after, blockquote:before, blockquote:after {content: "";content: none;}
        a img {border: none;}
        article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block;}
        body {font-family: 'Helvetica';font-weight: 300;font-size: 10px;margin: 0;padding: 0;color: #555555;}
        body a {text-decoration: none;color: inherit;}
        body a:hover {color: inherit;opacity: 0.7;}
        body .container {min-width: 460px;margin: 0 auto;padding: 0 20px;}
        body .clearfix:after {content: "";display: table;clear: both;}
        body .left {float: left;}
        body .right {float: right;}
        body .helper {display: inline-block;height: 100%;vertical-align: middle;}
        body .no-break {page-break-inside: avoid;}
        header {margin-top: 15px;margin-bottom:5px;}
        header figure {float: left;margin-right: 10px;width: 65px;height: 70px;text-align: center;}
        img.logo {margin-top: 10px; width: 130px;margin-left: 30px;}
        header .company-info {float: right;color: #66BDA9;line-height: 14px;}
        header .company-info .address, header .company-info .phone, header .company-info .email {position: relative;}
        header .company-info .address img, header .company-info .phone img {margin-top: 2px;}
        header .company-info .email img {margin-top: 3px;}
        header .company-info .title {color: #66BDA9;font-weight: 400;font-size: 1.33333333333333em;}
        header .company-info .icon {position: absolute;left: -15px;top: 1px;width: 10px;height: 10px;background-color: #66BDA9;text-align: center;line-height: 0;}
        .details {min-width: 440px;margin-bottom: 10px;padding: 5px 10px;background-color: #CC5A6A;color: #ffffff;line-height: 16px;margin-top: 15px;}
        .details .client {width: 45%;}
        .details .client .name {font-size: 1.16666666666667em;font-weight: 600;}
        .details .data {width: 45%;font-weight: 600;text-align: right;}
        .details .title {margin-bottom: 5px;font-size: 1.33333333333333em;text-transform: uppercase;}
        section table {margin-bottom: 20px;table-layout: fixed;border-collapse: collapse;border-spacing: 0;}
        table.table-total {width: 100%;}
        section table .qty, section table .unit, section table .total {width: 15%;}
        section table .desc {width: 55%;}
        section table thead {display: table-header-group;vertical-align: middle;border-color: inherit;}
        section table thead th {padding: 7px 10px;background: #66BDA9;border-right: 5px solid #FFFFFF;color: white;text-align: center;font-weight: 400;text-transform: uppercase;}
        section table thead th:last-child {border-right: none;}
        section table tbody tr:first-child td {border-top: 10px solid #ffffff;}
        section table tbody td {padding: 3px 7px;text-align: center;border-right: 3px solid #66BDA9;}
        section table tbody td:last-child {border-right: none;}
        section table tbody td.desc {text-align: left;}
        section table tbody td.total {color: #66BDA9;font-weight: 600;text-align: right;}
        section table tbody h3 {margin-bottom: 5px;color: #66BDA9;font-weight: 600;}
        section table.grand-total {margin-bottom: 50px;}
        section table.grand-total tbody tr td {padding: 0px 10px 7px;border: none;background-color: #B2DDD4;color: #555555;font-weight: 300;text-align: right;font-size: 12px;}
        section table.grand-total tbody tr:first-child td {padding-top: 10px;}
        section table.grand-total tbody tr:last-child td {background-color: transparent;}
        section table.grand-total tbody .grand-total {padding: 0;}
        section table.grand-total tbody .grand-total div {float: right;padding: 11px 10px;background-color: #66BDA9;color: #ffffff;font-weight: 600;}
        section table.grand-total tbody .grand-total div span {display: inline-block;margin-right: 20px;width: 80px;}
        section table.grand-total tbody .total-letra div {text-align: left !important;}
        footer {margin-bottom: 15px;padding: 0 5px;}
        footer .thanks {margin-bottom: 40px;color: #66BDA9;font-size: 1.16666666666667em;font-weight: 600;}
        footer .notice {margin-bottom: 15px;}
        footer .end {padding-top: 5px;border-top: 2px solid #66BDA9;text-align: center;}
        td.data-left, th.data-left{text-align: left; margin-left: 10px;}
        td.data-right, th.data-right{text-align: right; margin-right: 10px;}
        .text-resolucion{font-size: 12px !important; text-align: center;}
	</style>
</head>
<body>
	<header class="clearfix">
		<div class="container">
			<table class="table-total">
				<tr>
					<td><img class="logo" src="http://158.69.5.252/sfe/public/img/global.jpg"></td>
					<td class="data-right">
						<h2 class="title"><?php echo $empresa['razonSocial']; ?></h2>
						<div class="phone">
        					<span class="icon"><img src="" alt=""></span>
        					<p><?php echo $empresa['ruc'] ?></p>
        				</div>
        				<div class="address">
        					<span class="icon"><img src="" alt=""></span>
        					<p><?php echo $cabecera['direccion'] ?> - <?php echo $ubicacion ?></p>
        				</div>
        				<div class="phone">
        					<span class="icon"><img src="" alt=""></span>
        					<p><?php echo $cabecera['telefono'] ?></p>
        				</div>
					</td>
				</tr>
			</table>
			
			<div class="details clearfix">
				<table class="table-total">
					<tr>
						<td class="data-left">
							<p class="name"><?php echo $cabecera['razonSocialCliente']; ?></p>
							<p><?php echo $cabecera['numeroDocCliente'] ?></p>
        					<p><?php echo $cabecera['direccionCliente']; ?></p>
						</td>
						<td class="data-right">
							<div class="title">Boleta <?php echo $cabecera['serie'].'-'.$cabecera['correlativo'] ?></div>
        					<div class="date">
        						Fecha Emisión:
								<?php 
									$fecha =  $cabecera['fechaEmision']; 
									echo date("Y",strtotime($fecha)).'-'.date("m",strtotime($fecha)).'-'.date("d",strtotime($fecha)); 
								?>
        					</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</header>
	
	

	<section>
		<div class="container">
			<table border="0" cellspacing="0" cellpadding="0" class="table-total">
				<thead>
					<tr>
						<th class="qty">Cantidad</th>
						<th class="desc">Descripción</th>
						<th class="unit">Precio Uni</th>
						<th class="total">Total</th>
					</tr>
				</thead>
				<tbody>
				<?php foreach ($detalle as $det){ ?>
				    <tr>
						<td class="qty"><?php echo $det['cantidad'] ?></td>
						<td class="desc"><?php echo $det['descripcion'] ?></td>
						<td class="unit"><?php echo $det['valorUnitario'] ?></td>
						<td class="total"><?php echo $det['valorVenta'] ?></td>
					</tr>
				<?php } ?>
				</tbody>
			</table>
			<?php if($cabecera['observaciones'] != ''){ ?>
		    <table border="0" cellspacing="0" cellpadding="0" class="table-total">
				<thead>
					<tr>
						<th class="data-left">Observaciones</th>
					</tr>
				</thead>
				<tbody>
				    <tr>
						<td class="data-left"><?php echo $cabecera['observaciones'] ?></td>
					</tr>
				</tbody>
			</table>
			<?php } ?>
			<div class="no-break">
				<table class="grand-total">
					<tbody>
						<tr class="total">
							<td class="qty"></td>
							<td class="desc"></td>
							<td class="unit">SUBTOTAL:</td>
							<td class="total"><?php echo $subTotal; ?></td>
						</tr>
						<tr class="total">
							<td class="qty"></td>
							<td class="desc"></td>
							<td class="unit">IGV 18%:</td>
							<td class="total"><?php echo $cabecera['sumatoriaIGV']; ?></td>
						</tr>
						<tr class="total">
							<td class="grand-total total-letra" colspan="3"><div>Son: <?php echo $totalLetras; ?></div></td>
							<td class="grand-total"><div><span>TOTAL:</span><?php echo $cabecera['importeTotal']; ?></div></td>
						</tr>
						<tr class="total">
							<td class="grand-total total-letra" colspan="1"><div>Contado: <?php  echo $cabecera['contado']; ?></div></td>
							<td class="grand-total"><div><span>Financiado:</span><?php  echo $cabecera['financiado']; ?></div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="text-resolucion">Representacion impresa de la factura electrónica, consulte en www.globalnetsac.net/comprobanteelectronico/</div>
			<div class="text-resolucion">Autorizado Mediante Resolución de Intendencia Nro. 242-005-000021/SUNAT</div><br>
			<div class="end">Esta boleta electrónica tiene validez legal.</div>
		</div>
	</footer>
</body>
</html>
