<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu">
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <div class="clearfix">
                </div>
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="start ">
                <a href="index.html">
                    <i class="icon-home"></i>
                    <span class="title">Inicio</span>
                </a>
            </li>
            <li>
                <a href="javascript:;"><i class="icon-docs"></i><span class="title">Documentos Electrónicos</span><span class="arrow"></span></a>
                <ul class="sub-menu">
                    <li class="<?php if ($this->active == 'facturacion'): echo 'active'; endif; ?>">
                        <a href="<?php echo $this->url('core/default', array('controller' => 'comprobantes', 'action' => 'comprobantes')); ?>">Comprobantes</a>
                    </li>
                    <li class="<?php if ($this->active == 'notas'): echo 'active'; endif; ?>">
                        <a href="<?php echo $this->url('core/default', array('controller' => 'notas', 'action' => 'notas')); ?>">Notas</a>
                    </li>
                    <li class="<?php if ($this->active == 'resumen'): echo 'active'; endif; ?>">
                        <a href="<?php echo $this->url('core/default', array('controller' => 'resumenes', 'action' => 'resumenes')); ?>">Resumen de Boletas</a>
                    </li>
                    <li class="<?php if ($this->active == 'baja'): echo 'active'; endif; ?>">
                        <a href="<?php echo $this->url('core/default', array('controller' => 'bajas', 'action' => 'bajas')); ?>">Documentos de baja</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="icon-paper-clip"></i><span class="title">Catálogo</span><span class="arrow "></span></a>
                <ul class="sub-menu">
                    <li class="<?php if ($this->active == 'productos'): echo 'active'; endif; ?>">
                        <a href="<?php //echo $this->url('catalogo/default', array('controller' => 'productos', 'action' => 'index')); ?>">Productos</a>
                    </li>
                    <li class="<?php if ($this->active == 'servicios'): echo 'active'; endif; ?>">
                        <a href="<?php //echo $this->url('catalogo/default', array('controller' => 'servicios', 'action' => 'index')); ?>">Servicios</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="javascript:;"><i class="icon-user-following"></i><span class="title">Contactos</span><span class="arrow "></span></a>
                <ul class="sub-menu">
                    <li class="<?php if ($this->active == 'contactos'): echo 'active'; endif; ?>">
                        <a href="form_controls.html">Contactos</a>
                    </li>
                    <li class="<?php if ($this->active == 'usuarios'): echo 'active'; endif; ?>">
                        <a href="<?php echo $this->url('contactos/default', array('controller' => 'usuarios', 'action' => 'index')); ?>">Usuarios del sistema</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="icon-settings"></i><span class="title">Configuración</span><span class="arrow open"></span></a>
                <ul class="sub-menu">
                    <li class="<?php if ($this->active == 'empresa'): echo 'active'; endif; ?>">
                        <a href="<?php echo $this->url('configuracion/default', array('controller' => 'empresa', 'action' => 'index')); ?>">Datos Empresa</a>
                    </li>
                    <li class="<?php if ($this->active == 'sucursal'): echo 'active'; endif; ?>">
                        <a href="<?php echo $this->url('configuracion/default', array('controller' => 'sucursal', 'action' => 'index')); ?>">Datos Sucursal</a>
                    </li>
                    <li><a href="table_basic.html">Tipo de Documentos</a></li>
                    <li><a href="table_basic.html">Serie y Correlativos</a></li>
                    <li><a href="table_basic.html">Entidades Financieras</a></li>
                    <li><a href="table_basic.html">Cajas y Bancos</a></li>
                    <li><a href="table_basic.html">Apertura de Caja y Banco</a></li>
                    <li><a href="table_basic.html">Unidad de Medida</a></li>
                    <li><a href="table_basic.html">Roles de usuarios</a></li>
                </ul>
            </li>
            <li >
                <a href="javascript:;">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Reportes</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="table_basic.html">Reporte de comprobantes</a></li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->