<?php echo $this->doctype(); ?>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <?php echo $this->headTitle('SFE '. $this->translate('Sistema de facturación electrónica'))->setSeparator(' - ')->setAutoEscape(false) ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')->appendHttpEquiv('X-UA-Compatible', 'IE=edge') ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/zf-table/zf-table.css')
                        ->prependStylesheet($this->basePath() . '/css/datepicker.css')
                        ->prependStylesheet($this->basePath() . '/assets/css/custom.css')
                        ->prependStylesheet($this->basePath() . '/assets/css/themes/default.css')
                        ->prependStylesheet($this->basePath() . '/assets/css/plugins.css')
                        ->prependStylesheet($this->basePath() . '/assets/css/style-responsive.css')
                        ->prependStylesheet($this->basePath() . '/assets/css/style.css')
                        ->prependStylesheet($this->basePath() . '/assets/css/style-conquer.css')

                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/assets/plugins/uniform/css/uniform.default.css')
                        ->prependStylesheet($this->basePath() . '/assets/plugins/simple-line-icons/simple-line-icons.min.css')
                        ->prependStylesheet($this->basePath() . '/assets/plugins/font-awesome/css/font-awesome.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
                ->prependFile($this->basePath() . '/assets/scripts/componentsReporte.js')
                ->appendFile($this->basePath() . '/js/zf-table/jquery.dataTables.min.js')    
                ->appendFile($this->basePath() . '/js/zf-table/zf-table.js')
                    
                ->prependFile($this->basePath() . '/assets/scripts/app.js')

                ->prependFile($this->basePath() . '/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js')
                ->prependFile($this->basePath() . '/assets/plugins/bootstrap-modal/js/bootstrap-modal.js')

                ->prependFile($this->basePath() . '/assets/plugins/uniform/jquery.uniform.min.js')
                ->prependFile($this->basePath() . '/assets/plugins/jquery.blockui.min.js')
                ->prependFile($this->basePath() . '/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js')
                ->prependFile($this->basePath() . '/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')
                ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                ->prependFile($this->basePath() . '/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js')
                ->prependFile($this->basePath() . '/assets/plugins/jquery-migrate-1.2.1.min.js')
                ->prependFile($this->basePath() . '/js/jquery-1.11.0.min.js')
                
                ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body class="page-header-fixed">
        <?php
            echo $this->content;
            echo $this->inlineScript()
        ?>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                App.init();
             });
        </script>
    </body>
</html>