<!--<a href="<?php echo $this->url.'/email/email/sendemail' ?>">Enviar</a>-->
<header class="header-principal">
    <div class="site-social-login">
        <div class="container">
            <div class="col-sm-6 col-xs-10 header-email-marketing">
                <a href="<?php echo $this->url.'/'; ?>"><img src="/images/home/logo1.png" alt="logo"></a>
            </div>
            <div class="col-sm-6 col-xs-10 header-email-marketing">
                <p class="search-form atencion-cliente">Atención al Cliente &nbsp;<i class="fa fa-phone"> </i> &nbsp;<span>(01) 715-2620</span></p>
            </div>
        </div>
        <hr>
    </div>
</header>
<section class="principal">
    <div class="cont-crear-cuenta">
        <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 create-content">
                <img class="img-lobo" src="/images/email/email.png">
            </div>
            <div class="login col-md-4 col-sm-6 col-xs-12">
                <div class="content">
                    <?php
                    echo $this->flashMessenger()
                            ->setMessageOpenFormat('<div%s>')
                            ->setMessageSeparatorString('</p><p>')
                            ->setMessageCloseString('<button type="button" class="btn-message-provee" data-dismiss="alert">x</button></div>')
                            ->render('success', array('alert alert-success alert-provee'));
                    $form = $this->form;
                    $this->formElementErrors()
                         ->setMessageOpenFormat('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">x</button>')
                         ->setMessageCloseString('</div>')
                         ->render($form);
                    $form->setAttribute('action', $this->url(NULL, array('controller'=>'registration', 'action' => 'emailmarketing')));
                    $form->setAttributes(array('class' => 'login-form'));
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <h4 class="form-title">Acceso de Administradores</h4>
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9">Email</label>
                        <div class="input-icon">
                            <i class="fa fa-envelope"></i>
                            <?php echo $this->formRow($form->get('email')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Contraseña</label>
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            <?php echo $this->formRow($form->get('password')); ?>
                        </div>
                    </div>
                    <div class="form-actions">
                        <?php echo $this->formRow($form->get('submit')); ?>
                    </div>
                    <?php
                    echo $this->form()->closeTag();
                    ?>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="container">
        <div class="cont-banner-email">
            <img class="img-banner-marketing" src="/images/email/email-marketing.png">
        </div>
    </div>-->
</section>