<?php
$form = $this->formempresa;
$form->setAttribute('method', 'post');
$form->setAttribute('action', $this->action);
$form->prepare();
?>
<?php echo $this->partial('/auth/partials/header.phtml',array('active' => $this->active)); ?>
<div class="page-container">
    <?php echo $this->partial('/auth/partials/sidebar.phtml',array('active' => $this->active)); ?>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">Widget settings form goes here</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success">Save changes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Datos Fiscales <small>Empresa</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li><i class="fa fa-home"></i> <a href="index.html">Home</a> <i
                            class="fa fa-angle-right"></i></li>
                    <li><a href="#">Configuración</a> <i class="fa fa-angle-right"></i>
                    </li>
                    <li><a href="#">Datos de la empresa</a></li>
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-building"></i>Información Fiscal de la empresa
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="reload"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <?php
                                echo $this->flashMessenger()
                                        ->setMessageOpenFormat('<div%s>')
                                        ->setMessageSeparatorString('</p><p>')
                                        ->setMessageCloseString('<button type="button" class="btn btn-danger btn-xs btn-cerrar" data-dismiss="alert">x</button></div>')
                                        ->render('success', array('alert alert-success setMessage'));
                                
                                echo $this->form()->openTag($form);
                                echo $this->formRow($form->get('empresaId'));
                            ?>
                                <div class="form-body">
                                    <h3 class="form-section">Información Básica de la Empresa</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <?php echo $this->formRow($form->get('razonSocial')); ?>
                                            </div>
                                            <div class="form-group">
                                                <?php echo $this->formRow($form->get('nombreComercial')); ?>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <?php echo $this->formRow($form->get('ruc')); ?>
                                            </div>
                                            <div class="form-group">
                                                <?php echo $this->formRow($form->get('numeroAprobSunat')); ?>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <h3 class="form-section">Dirección Exacta</h3>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <div class="form-group">
                                                <?php echo $this->formRow($form->get('direccion')); ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <?php echo $this->formRow($form->get('departamentoId')); ?>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <?php echo $this->formRow($form->get('provinciaId')); ?>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <?php echo $this->formRow($form->get('distritoId')); ?>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                                <div class="form-actions right">
                                    <?php echo $this->formRow($form->get('submit')); ?>
                                </div>
                            <?php
                            echo $this->form()->closeTag();
                            ?>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
