<?php echo $this->partial('/auth/partials/header.phtml', array('active' => $this->active)); ?>
<div class="page-container">
    <?php echo $this->partial('/auth/partials/sidebar.phtml', array('active' => $this->active)); ?>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Listado <small>Usuarios</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li><i class="icon-user-following"></i><span>Contactos</span><i class="fa fa-angle-right"></i></li>
                    <li><span>Listado de usuarios</span></li>
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="margin-bottom-10">
                        <a href="<?php echo $this->url('auth/default', array('controller' => 'admin', 'action' => 'registro')); ?>" class="btn btn-success">Nuevo</a>
                    </div>
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-list"></i>Listado de Usuarios
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr>
                                            <th><i class="fa fa-slack"></i></th>
                                            <th><i class="fa fa-briefcase"></i> Tipo Usuario</th>
                                            <th class="hidden-xs"><i class="fa fa-user"></i> Nombre</th>
                                            <th><i class="fa fa-credit-card"></i> DNI</th>
                                            <th class="hidden-xs"><i class="fa fa-envelope"></i> Email</th>
                                            <th class="hidden-xs"><i class="fa fa-chevron-circle-right"></i> Username</th>
                                            <th class="hidden-xs"><i class="fa fa-calendar"></i> Fecha Creación</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php $i = 1;
                                        foreach ($this->data as $user): ?>
                                            <tr>
                                                <td><?php echo $i; ?></td>
                                                <td class="highlight"><?php echo $user['rol']; ?></td>
                                                <td class="hidden-xs"><?php echo $user['nombre']; ?></td>
                                                <td><?php echo $user['dni']; ?></td>
                                                <td class="hidden-xs"><?php echo $user['email']; ?></td>
                                                <td class="hidden-xs"><?php echo $user['username']; ?></td>
                                                <td class="hidden-xs"><?php echo $user['fecha_creacion']; ?></td>
                                                <td>
                                                    <a href="<?php echo $this->url('auth/default', array('controller' => 'admin', 'action' => 'editar', 'id' => $user['usuarioId'])); ?>" class="btn btn-warning btn-xs purple"><i class="fa fa-edit"></i></a>
                                                    <a href="<?php echo $this->url('auth/default', array('controller' => 'admin', 'action' => 'eliminar', 'id' => $user['usuarioId'])); ?>" class="btn btn-danger btn-xs black"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
    <?php $i++;
endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
