<header class="header-principal header-secundario">
    <div class="cont-logo-menu">
        <div class="container">
            <div class="header-center"><a href="<?php echo $this->url.'/'; ?>"><img src="/images/home/logo1.png"></a></div>
            <div class="cont-menu">
                <span class="txt-frase">Sé un lobo en el mercado</span>
                <div class="text-right">
                    <p class="search-form atencion-cliente">Atención al Cliente &nbsp;<i class="fa fa-phone"> </i> &nbsp;<span>(01) 715-2620</span></p>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="fondo-register">
    <section class="container">
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12 frm-provedor">
            <div class="portlet" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i> Registro de Proveedores -
                        <span class="step-title">
                            Paso 1 of 4
                        </span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <?php
                        $form = $this->formprove;
                        $form->setAttribute('action', $this->url(NULL, array('controller'=>'registration', 'action' => 'proveedor')));
                        $form->setAttributes(array(
                            'class'     => 'form-horizontal',
                        ));
                        $form->prepare();
                        echo $this->form()->openTag($form);
                    ?>
                        <div class="form-wizard">
                            <div class="form-body">
                                <ul class="nav nav-pills nav-justified steps">
                                    <li>
                                        <a href="#tab1" data-toggle="tab" class="step">
                                            <span class="number">1</span>
                                            <span class="desc"><i class="fa fa-check"></i> Datos de Acceso</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab2" data-toggle="tab" class="step">
                                            <span class="number">2</span>
                                            <span class="desc"><i class="fa fa-check"></i> Datos de la Empresa</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab3" data-toggle="tab" class="step active">
                                            <span class="number">3</span>
                                            <span class="desc"><i class="fa fa-check"></i> Datos Básicos</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab4" data-toggle="tab" class="step">
                                            <span class="number">4</span>
                                            <span class="desc"><i class="fa fa-check"></i> Confirmación</span>
                                        </a>
                                    </li>
                                </ul>
                                <div id="bar" class="progress progress-striped" role="progressbar">
                                    <div class="progress-bar progress-bar-success">
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                        <h3 class="block">Ingresa datos de tu cuenta</h3>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Nombre Completo<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('nombre')); ?>
                                                <span class="help-block"> Ingresa tu nombre completo </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Numero de DNI<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('dni')); ?>
                                                <span class="help-block">Ingresa tu número de DNI</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Email<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('email')); ?>
                                                <p id="Info-email"></p>
                                                <span class="help-block"> Ingresa tu email </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Contraseña<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('password')); ?>
                                                <span class="help-block"> Ingresa tu contraseña. </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Confirma Contraseña<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('rpassword')); ?>
                                                <span class="help-block">Confirma tu contraseña</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        <h3 class="block">Ingresa los datos principales de tu empresa</h3>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Razon Social <span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('razon_social')); ?>
                                                <span class="help-block">Ingresa tu razón social</span>
                                            </div>
                                        </div>
                                        <div id="cont-username" class="form-group">
                                            <label class="control-label col-md-3">Nombre Comercial<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('username')); ?>
                                                <p id="Info"></p>
                                                <span class="help-block"> Nombre Comercial de tu empresa </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Numero de RUC<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('ruc')); ?>
                                                <span class="help-block">Ingresa tu número de ruc</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Dirección <span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('direccion')); ?>
                                                <span class="help-block"> Ingresa la dirección de la empresa </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">País<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('paisId')); ?>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Departamento<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('departamentoId')); ?>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Provincia<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('provinciaId')); ?>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Distrito<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('distritoId')); ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab3">
                                        <h3 class="block">Datos Básicos de la Empresa</h3>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Número de teléfono <span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('telefono')); ?>
                                                <span class="help-block"> Ingresa tu número de teléfono </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Número de celular</label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('celular')); ?>
                                                <span class="help-block"> Ingresa tu número de celular </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Web de la Empresa</label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('web')); ?>
                                                <span class="help-block"> e.g: http://www.demo.com or http://demo.com </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Email Empresarial <span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('emailEmp')); ?>
                                                <span class="help-block"> Ingresa el email de contacto de la empresa </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Giro de negocio  <span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <?php echo $this->formRow($form->get('categoriaId')); ?>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Descripción de la empresa <span class="required"> * </span></label>
                                            <div class="col-md-9">
                                                <?php echo $this->formRow($form->get('descripcion')); ?>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Logo de la empresa <span class="required"> * </span></label>
                                            <div class="col-md-6">
                                                <div data-provides="fileupload" class="fileupload fileupload-new">
                                                    <div style="width: 200px; height: 150px;" class="fileupload-new thumbnail">
                                                        <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                                                    </div>
                                                    <div style="max-width: 200px; max-height: 150px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                                    <div class="btn_file">
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileupload-new">
                                                                    <i class="fa fa-paper-clip"></i> Selecciona imagen
                                                            </span>
                                                            <span class="fileupload-exists">
                                                                <i class="fa fa-undo"></i> Cambiar
                                                            </span>
                                                            <?php 
                                                                $image = $form->get('logo');
                                                                echo $this->formInput($image);
                                                                echo $this->formElementErrors($image);
                                                            ?>
                                                        </span>
                                                        <a data-dismiss="fileupload" class="btn btn-danger fileupload-exists" href="#"><i class="fa fa-trash-o"></i> Remover</a>
                                                        <p class="txt_image">Te recomendamos un tamaño de 250px x 250px como maximo</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Políticas de Targetea <span class="required"> * </span></label>
                                            <div class="col-md-7">
                                                <div class="checkbox-list">
                                                    <label><input type="checkbox" name="payment[]" value="1" data-title="Términos y condiciones"/> Acepto los <a href="#" target="_blank">Términos de Servicio</a> y <a href="#"  target="_blank">Políticas de Privacidad</a></label>
                                                </div>
                                                <div id="form_payment_error">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab4">
                                        <h3 class="block">Verificación de los Datos</h3>
                                        <h4 class="form-section">Datos de Acceso</h4>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Nombre:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="nombre"></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Email:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="email"></p></div>
                                        </div>
                                        <h4 class="form-section">Datos de la Empresa</h4>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Razon Social:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="razon_social"></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Nombre Comercial:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="username"></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Numero de RUC:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="ruc"></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Dirección:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="direccion"></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">País:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="paisId"></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Departamento:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="departamentoId"></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Provincia:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="provinciaId"></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Distrito:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="distritoId"></p></div>
                                        </div>
                                        <h4 class="form-section">Datos Básicos de la Empresa</h4>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Número de teléfono:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="telefono"></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Web de la Empresa:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="web"></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Email Empresarial:</label>
                                            <div class="col-md-4"><p class="form-control-static" data-display="emailEmp"></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Giro de negocio:</label>
                                            <div class="col-md-7"><p class="form-control-static" data-display="categoriaId"></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Descripcion de la empresa:</label>
                                            <div class="col-md-7"><p class="form-control-static" data-display="descripcion"></p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-offset-3 col-md-9">
                                            <a href="javascript:;" class="btn btn-default button-previous"><i class="m-icon-swapleft"></i> Atras </a>
                                            <a href="javascript:;" class="btn btn-info button-next">Continuar <i class="m-icon-swapright m-icon-white"></i></a>
                                            <!--<a href="javascript:;" class="btn btn-success button-submit">Enviar <i class="m-icon-swapright m-icon-white"></i></a>-->
                                            <?php 
                                                $btn = $form->get('guardar');
                                                echo $this->formInput($btn);
                                            ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php
                        echo $this->form()->closeTag();
                    ?>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</section>
</section>