<?php echo $this->partial('/auth/partials/header.phtml', array('active' => $this->active)); ?>
<div class="page-container">
    <?php echo $this->partial('/auth/partials/sidebar.phtml', array('active' => $this->active)); ?>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Registro <small>Usuarios</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li><i class="icon-user-following"></i><span>Contactos</span><i class="fa fa-angle-right"></i></li>
                    <li><a href="<?php echo $this->url('auth/default', array('controller' => 'admin', 'action' => 'index')); ?>">Listado de usuarios</a><i class="fa fa-angle-right"></i></li>
                    <li><span>Registro de usuarios</span></li>
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="frm-register">
                        <div class="portlet">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="icon-user-follow" aria-hidden="true"></span> Formulario de registro
                                </div>
                                <div class="tools">
                                    <a href="#" class="collapse"></a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                    <a href="#" class="reload"></a>
                                    <a href="#" class="remove"></a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN REGISTRATION FORM -->
                                <?php
                                $form = $this->form;
                                $form->prepare();
                                $form->setAttribute('action', $this->url('auth/default', array('controller' => 'admin', 'action' => 'registro')));
                                echo $this->form()->openTag($form);
                                echo $this->formRow($form->get('usuarioId'));
                                ?>
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label visible-ie8 visible-ie9">Nombre Completo</label>
                                        <div class="input-icon">
                                            <i class="fa fa-font"></i>
                                            <?php echo $this->formRow($form->get('nombre')); ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label visible-ie8 visible-ie9">Ingrese el DNI</label>
                                        <div class="input-icon">
                                            <i class="fa fa-font"></i>
                                            <?php echo $this->formRow($form->get('dni')); ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                                        <label class="control-label visible-ie8 visible-ie9">Email</label>
                                        <div class="input-icon">
                                            <i class="fa fa-envelope"></i>
                                            <?php echo $this->formRow($form->get('email')); ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label visible-ie8 visible-ie9">Tipo de usuario</label>
                                        <?php echo $this->formRow($form->get('rolId')); ?>
                                    </div>
                                    <p>Ingrese los datos de su cuenta:</p>
                                    <div class="form-group">
                                        <label class="control-label visible-ie8 visible-ie9">Username</label>
                                        <div class="input-icon">
                                            <i class="fa fa-user"></i>
                                            <?php echo $this->formRow($form->get('username')); ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label visible-ie8 visible-ie9">Contraseña</label>
                                        <div class="input-icon">
                                            <i class="fa fa-lock"></i>
                                            <?php echo $this->formRow($form->get('password')); ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label visible-ie8 visible-ie9">Repite tu Contraseña</label>
                                        <div class="controls">
                                            <div class="input-icon">
                                                <i class="fa fa-check"></i>
                                                <?php echo $this->formRow($form->get('repassword')); ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label visible-ie8 visible-ie9">Ingrese los valores de la caja</label>
                                        <div class="input-icon img-captcha">
                                            <?php echo $this->formRow($form->get('captcha')); ?>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <?php echo $this->formRow($form->get('submit')); ?>
                                    </div>
                                </div>
                                <?php
                                echo $this->form()->closeTag();
                                ?>
                                <!-- END REGISTRATION FORM -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
