<?php echo $this->partial('/reportes/partials/header.phtml',array('active' => $this->active)); ?>
<div class="page-container">
    <?php echo $this->partial('/reportes/partials/sidebar.phtml',array('active' => $this->active)); ?>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">Inicio del SFE</h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li><i class="icon-docs"></i><span> Inicio</span><i class="fa fa-angle-right"></i></li>
                    <li><span>Estadísticas</span></li>
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<?php echo $this->partial('/reportes/partials/footer.phtml',array()); ?>