<div class="logo">
    <h3 class="title-login">SISTEMA DE FACTURACIÓN ELECTRÓNICA</h3>
</div>
<section class="principal login fondo-auth">
    <div class="container">
        <div class="content">
            <?php
            $form = $this->form;
            $this->formElementErrors()
                    ->setMessageOpenFormat('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">x</button>')
                    ->setMessageCloseString('</div>')
                    ->render($form);
            $form->setAttribute('action', $this->url(NULL, array('controller' => 'login', 'action' => 'authentication')));
            $form->setAttributes(array('class' => 'login-form'));
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <h4 class="form-title">Ingresa tus credenciales</h4>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <?php echo $this->formRow($form->get('username')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Contraseña</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <?php echo $this->formRow($form->get('password')); ?>
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox"><?php echo $this->formRow($form->get('rememberme')); ?> Recordarme</label>
                <?php echo $this->formRow($form->get('submit')); ?>
            </div>
            <div class="forget-password">
                <h4>¿Olvidaste tu contraseña?</h4>
                <p>no se preocupe, haga clic <a href="javascript:;" id="forget-password">aqui</a> para restablecer su contraseña.</p>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>

            <!-- BEGIN FORGOT PASSWORD FORM -->
            <?php
            $formpass = $this->formpass;
            $this->formElementErrors()
                    ->setMessageOpenFormat('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">x</button>')
                    ->setMessageCloseString('</div>')
                    ->render($formpass);
            $formpass->setAttributes(array(
                'action' => $this->url . '/auth/registration/recuperarpass',
                'class' => 'forget-form'
            ));
            $formpass->prepare();
            echo $this->form()->openTag($formpass);
            ?>
            <h4>Olvidaste la contraseña?</h4>
            <p>
                Ingrese su dirección de correo electrónico a continuación para restablecer la contraseña.
            </p>
            <input type="hidden" name="rolId" value="1">
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <?php echo $this->formRow($formpass->get('email')); ?>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default"><i class="m-icon-swapleft"></i> Atras </button>
                <?php echo $this->formRow($formpass->get('recuperar')); ?>
            </div>
            <?php
            echo $this->form()->closeTag($formpass);
            ?>
            <!-- END FORGOT PASSWORD FORM -->
        </div>
    </div>
</section>
<footer>
    <div class="cont-footer">
        <div class="fin-txt-footer">
            <div class="container">
                <p class="txt-footer-fin col-sm-12">&copy; <?php date_default_timezone_set("America/Lima"); echo date('Y') ?> <?php echo $this->translate('Todos los derechos reservados.') ?> WM2A</p>
            </div>
        </div>
    </div>
</footer>