<footer>
    <div class="cont-footer">
        <div class="fin-txt-footer">
            <div class="container">
                <p class="txt-footer-fin col-sm-12">&copy; <?php date_default_timezone_set("America/Lima"); echo date('Y') ?> <?php echo $this->translate('Todos los derechos reservados -') ?> WM2A</p>
            </div>
        </div>
    </div>
</footer>