<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu">
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler"></div>
                <div class="clearfix"></div>
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="start <?php if ($this->active == 'inicio'): echo 'active'; endif; ?>">
                <a href="<?php echo $this->url.'/inicio'; ?>"><i class="icon-home"></i><span class="title">Inicio</span></a>
            </li>
            <li class="<?php if ($this->active == 'factura' || $this->active == 'boleta' || $this->active == 'notas' || $this->active == 'resumen' || $this->active == 'baja'): echo 'active'; endif; ?>">
                <a href="javascript:;"><i class="icon-docs"></i><span class="title">Documentos Electrónicos</span><span class="arrow open"></span></a>
                <ul class="sub-menu">
                    <li class="<?php if ($this->active == 'factura'): echo 'active'; endif; ?>">
                        <a href="<?php echo $this->url('reportes/default', array('controller' => 'facturas', 'action' => 'index')); ?>">Facturas</a>
                    </li>
                    <li class="<?php if ($this->active == 'boleta'): echo 'active'; endif; ?>">
                        <a href="<?php echo $this->url('reportes/default', array('controller' => 'boletas', 'action' => 'index')); ?>">Boletas</a>
                    </li>
                    <li class="<?php if ($this->active == 'notas'): echo 'active'; endif; ?>">
                        <a href="<?php echo $this->url('reportes/default', array('controller' => 'notas', 'action' => 'index')); ?>">Notas</a>
                    </li>
                    <li class="<?php if ($this->active == 'resumen'): echo 'active'; endif; ?>">
                        <a href="<?php echo $this->url('reportes/default', array('controller' => 'resumenes', 'action' => 'index')); ?>">Resumen de Boletas</a>
                    </li>
                    <li class="<?php if ($this->active == 'baja'): echo 'active'; endif; ?>">
                        <a href="<?php echo $this->url('reportes/default', array('controller' => 'bajas', 'action' => 'index')); ?>">Documentos de baja</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="icon-settings"></i><span class="title">Configuración</span><span class="arrow"></span></a>
                <ul class="sub-menu">
                    <li><a href="table_basic.html">Tipo de Documentos</a></li>
                    <li><a href="table_basic.html">Serie y Correlativos</a></li>
                    <li><a href="table_basic.html">Entidades Financieras</a></li>
                    <li><a href="table_basic.html">Cajas y Bancos</a></li>
                    <li><a href="table_basic.html">Apertura de Caja y Banco</a></li>
                    <li><a href="table_basic.html">Unidad de Medida</a></li>
                    <li><a href="table_basic.html">Roles de usuarios</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="icon-bar-chart"></i> <span class="title">Reportes</span><span class="arrow "></span></a>
                <ul class="sub-menu">
                    <li><a href="table_basic.html">Reporte de comprobantes</a></li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->